.deleteBtn button{
    width: 55px;
    height: 55px;
    border: 0;
    border-radius: 50%;
    background: rgba(235, 87, 87, 0.3);
}
.deleteBtn .btn-delete{
    font-size: 31px;
    color: #EB5757;
}
.deleteBtn button:hover{
    color: rgba(235, 87, 87, 0.8);
    cursor: pointer;
}