.shop_cont{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40px;
}.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

@media (max-width:991px)  {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .shop_cont{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
    }.courses{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
@media (max-width:667px)  {
    /* smartphones, Android phones, landscape iPhone */
    .shop_cont{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }.courses{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}