.shop_cont{
    overflow: hidden;
}
.scn_1{ 
    background-image: url(https://khadizachowdhury.com/Library/assets/img/home-section1_bg.jpg);
    display: inline-block;
    width: 100%;
    height: 60vh;
    text-align: center;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    z-index: 1;
}
.scn_1:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: -1;
}
.hero_text{
    color: #fff;
}
.courses{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.course img {
    width: 100%;
}

@media (max-width:992px)  {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .course {
        max-width: 350px;
        margin-bottom: 20px;
    }
    .course img {
        height: 200px;
        object-fit: cover;
    }
}

@media (max-width:768px)  {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .courses{
        max-width: 720px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
    }
    .course {
        max-width: 280px;
        margin-bottom: 20px;
    }
}

@media (max-width:460px)  {
    /* smartphones, Android phones, landscape iPhone */
    .courses{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}